<div class="text-center">
    <h4>
        You have successfully registered for our service. Your request is pending. One of our admin will Enable your eligibility of our service. Thank you for your patience. <br />
        <a href="~/Home/Index" class="btn btn-sm btn-success">Go to Home</a>
    </h4>
</div>
