@model IEnumerable<OnlineTicketSystem.Models.Ticket>

@{
    ViewData["Title"] = "AllTicket";
}

<h1>All Client Ticket</h1>

<table class="table">
    <thead>
        <tr>
            <th>Client</th>
            <th>Click To Support</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Distinct()) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                <a class="btn btn-success" asp-action="GiveSupport" asp-route-user="@item.CreatedBy">Give Support</a>

                
            </td>
        </tr>
}
    </tbody>
</table>
