@model IEnumerable<OnlineTicketSystem.Models.CompanyInformation>


@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">


<h3 class="text-center badge badge-dark">All Company List</h3>
<table id="myTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Company ID</th>
            <th>Comany Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ComID</td>
                <td>@item.CompanyName</td>

            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();


        });

    </script>

}