@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "All Roles";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="container mt-2">

    @if (Model.Any())
    {
        <a class="btn btn-success mb-3" style="width:auto" asp-action="CreateRole"
            asp-controller="SuperAdmin" title="Add A New Role"><i class="fa fa-plus"></i></a>

        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <td>Role ID</td>
                    <td>Role Name</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var role in Model)
                {
                    <tr>
                        <td>@role.Id</td>
                        <td>@role.Name</td>
                        <td>
                                <a style="color:white;" asp-controller="SuperAdmin" asp-action="EditRole"
                                   asp-route-id="@role.Id" class="btn btn-warning" title="Edit Role"><i class="fa fa-edit"></i></a>
                            </td>
                    </tr>
                }
            </tbody>
        </table>


    }
    else
    {
        <div class="card">
            <div class="card-header">
                No roles created yet
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Use the button below to create a role
                </h5>
                <a class="btn btn-primary" style="width:auto"
                   asp-controller="SuperAdmin" asp-action="CreateRole">
                    Create Role
                </a>
            </div>
        </div>
    }
</div>